<h1>
    Welcome to Mike likes movies!

</h1>

<p>
    You have been invited to review movies with mike, <a href="<%= @url %>">click here</a> to get started!
    Your temporary password is: <%= @tempass %>
</p>

<p>Thanks for joining and have a great day!</p>
