<h1>
    Welcome to Mike likes movies,
    <%= @user.email %>
</h1>

<p>
    You have been invited to review movies with mike, just follow this link to get started:
    <%= @url %>.
</p>

<p>Thanks for joining and have a great day!</p>
