<br><br>

<div class=show>
  <h1> Your group is assigned with: </h1>

  <br>

  <h3> <%= @movie.title %> </h3>
  <img src="<%= @movie.poster_image %>" width=250 height="350">

  <br>
  <h4> Reviews are due by: <%= @due_date %> </h4>
  
</div>
