<h2> Reviews you still need to complete: </h2>

<% @reviews.each do |review| %>
  <% if !review_completed?(review) %>
    <h4> <%= link_to review.title, "/reviews/#{review.id}" %> </h4>
  <% end %>
<% end %>

<h2> Reviews you have completed: </h2>

<% @reviews.each do |review| %>
  <% if review_completed?(review) %>
  <h4> <%= link_to review.title, "/reviews/#{review.id}" %> </h4>
  <% end %>
<% end %>

<h2> Groups you are a part of: </h2>

<% @user.groups.each do |group| %>
  <h4> <%= group.group_name %>
<% end %>
