<div id="whole-page">

<div id="to-complete">
  <h2> Reviews to complete: </h2>
  <p>
    <% @reviews.each do |review| %>
      <% if !review_completed?(review) %>
       <h4> <%= link_to review.title, "/reviews/#{review.id}" %> </h4>
    <% end %>
      <% end %>
  </p>
</div>



<div id="have-completed">
  <h2> Reviews completed: </h2>
  <% @reviews.each do |review| %>
    <% if review_completed?(review) %>
  <p class="review-info">
    <h4> <%= link_to review.title, "/reviews/#{review.id}" %> </h4>
  </p>
    <% end %>
  <% end %>
</div>


<div id="group-membership">
  <h2> Your groups: </h2>
<p>
  <% @user.groups.each do |group| %>
    <h4> <%= group.group_name %>
  <% end %>
</p>
</div>

</div>
