

<div id="main-card">
<% @groupreviews.order('due_date DESC').each do |groupreview| %>
<a href="/groupreviews/<%=groupreview.id%>">
    <div class="movie-cards">
    <img id="movie-poster-cards" src=<%= groupreview.movie.poster_image %>>
    <div id="group-name">Reviewed by: <%= groupreview.group.group_name %></h3></div>
    </div>

</a>
  <%end %>
</ul>
</div>
