<div id="whole-grouppage-reviews">

  <img class = "movie-poster"  src= <%= @groupreview.movie.poster_image %> >

    <div class="reviews">
    <% @groupreview.reviews.each do |review| %>
      <h2 id="review-title" ><%= review.title %></h2>
      <p id="review-body"> <%= review.body %>
        <br>
          <span> <%=review.user.email%></span>
      </p>

    <%end%>
  </div>

</div>

