#whole-grouppage {
  margin: 0 auto;
  margin-top: 75px;
  width: 650px;
  text-align: center;
  border-radius: 10px;
  background-color: whitesmoke;
  padding: 2%;
}

#current {
  text-align: left;
  font-size: 16px;
  font-family: tahoma;
  margin-top: 40px;
}

#groups {
  text-align: left;
  font-family: 'Quicksand', sans-serif;
}

#start-group{
  margin: 25px;
  font-family: tahoma;
}

#grouplist {
  list-style: none;

}

input[type=text] {
  border: 1px red solid;
  height:25px;
  width: 200px;
}

input[type=submit] {
  width: 200px;

}
