body {
  margin: 0;
}
#logo img {
  height: 300px;
  width: 450px;
}

#header {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 25px;
  height: 300px;
}

nav {
  top:0;
  position:absolute;
  font-size: 14px;
  background-color: whitesmoke;
  width: 100%;
  margin: 0;
}

nav a {
  font-color:#878787;
  text-decoration: none;
  color: black;
  float:right;
  margin-right: 25px;
  font-family: 'Quicksand', sans-serif;
}

nav a:hover {
  color: red
}

nav a:visited{
  font-color:#878787;
}



