body {
  margin: 0;
}
#logo img {
  height: 300px;
  width: 450px;
}

#header {
  max-width: 450px;
  margin: 0 auto;
  margin-top: 25px;
  height: 300px;
}

nav {
  top:0;
  position:absolute;
  font-family: tahoma;
  font-size: 14px;
  background-color: #F7F7F7;
  width: 100%;
  margin: 0;
  font-color:#878787
}

a {
  text-decoration: none;
  color: black;
  float:right;
  margin-right: 25px;
}

a:hover {
  color: red
}

a:visited{
  font-color:#878787;
}



