#login {
  font-family: tahoma;
}

#error {
  font-family: sans;
  font-color: red;
}

input[type=password] {
  border: 1px red solid;
  height:35px;
  width: 200px;
}

#review-title, #review-body {
  font-family: tahoma;

}

#edit-title {
  margin-top: 0;
  margin-bottom:40px;
  text-decoration: underline;
  font-size: 14px;
  font-family: sans-serif;
}

#title {
  font-family: sans-serif;
  font-stretch: extra-expanded;
  font-size: 3em;
  margin-bottom: 10px;

}
