<h1> edit your shit here </h1>

<%= form_for @review do |f| %>
  <%= f.text_field :title, placeholder: "Title"%>
  <br>
  <br>
  <%= f.text_area :body, placeholder: "Review Content" %>
  <br>
  <br>
  <%= f.submit %>
<% end %>
